.videoWrapper {
  position: relative;
}

.video {
  width: auto;
}

.duration {
  position: absolute;
  bottom: 8px;
  right: 4px;
  background: #1f2024;
  border-radius: 2px;
  padding: 2px 3px;
}

.time {
  color: #848898;
}

.root {
  cursor: pointer;
}
